POSTGRES_DB=payouts_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DATABASE_URL=postgres://user:password@db:5432/payouts_db
CELERY_BROKER_URL=redis://redis:6379/0
SECRET_KEY=your-secret-key-here
DEBUG=True
PYTHONPATH=/app